#crossword-container {
    width: max-content;
    margin: auto;
    position: relative;
}

.floating {
    display: inline-flex;
}

.pass-through {
    pointer-events: none;
}

#crossword {
    flex-direction: column;
}

#horizontals {
    flex-direction: column;
}

#verticals {
    flex-direction: row;
}

#horizontals, #verticals {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    background-clip: padding-box;
    border: 0 solid transparent;
}

#horizontals .overlay {
    width: 100%;
    height: 50px;
    border-bottom-width: 2px;
}

#horizontals .overlay:first-child {
    border-top-width: 2px;
}

#verticals .overlay {
    height: 100%;
    width: 50px;
    border-right-width: 2px;
}

#verticals .overlay:first-child {
    border-left-width: 2px;
}

#horizontals .overlay.selected, #verticals .overlay.selected {
    background-color: rgba(255, 218, 105, 0.4);
    mix-blend-mode: overlay;
}

.row {
    display: flex;
    flex-direction: row;
}

.row:first-child .cell {
    border-top: 2px solid black;
}

.cell {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    aspect-ratio: 1;
    border: 0 solid black;
    border-bottom-width: 2px;
    border-right-width: 2px;
    text-align: center;
    font-size: 20px;
    position: relative;
}

.cell:first-child {
    border-left-width: 2px;
}

.cell .input {
    width: 100%;
    aspect-ratio: 1;
    border: none;
    text-align: center;
    font-size: 30px;
    background-color: transparent;
    padding: 7px 0 0 0;
    box-sizing: border-box;
}

.cell, .input {
    cursor: pointer;
}

.cell .input:focus {
    outline: none;
    background: yellow;
    caret-color: transparent;
}

.cell.maybe .input {
    color: grey;
}

.cell.black:after {
    content: "";
    display: block;
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: black;
}

.cell .number {
    display: inline-block;
    position: absolute;
    width: min-content;
    aspect-ratio: 1;
    font-size: 13px;
    font-weight: bold;
    top: 1px;
    left: 1px;
}

.cell.black .number, .cell.black .input {
    display: none;
}

.cell.cornice {
    background-color: #b3b3b3;
}
